{% extends 'main.html' %}
{% block content %}
  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{message.subject}}</h4>
          <a href="{% url 'user-profile' message.sender.id %}" class="message__author">Sender : {{message.name}}</a>
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">
            {{message.body | linebreaksbr}}
          </div>
          <br/>
          <a href="{% url 'user-profile' message.sender.id %}" class="btn btn-primary">Respond</a>
          <a href="{% url 'delete-message' message.id %}" class="btn btn-danger" style="margin-top:10px;">Delete</a>
      </div>
    </div>
  </main>
{%endblock%}